html {
  height: 100%;
  width: 100%;
}
#joke{
    background-color: gray;
    color: black;
padding:10px;
    text-align: center; 
 
   font-family: 'Lobster Two',Lobster Two, cursive; 
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
     
    
width:100%;
}

